@import url("https://fonts.googleapis.com/css?family=Merienda|Roboto:400i:");

.recipe-card {
  width: 31%;
  min-width: 240px;
  margin: 1%;
  border: 1px solid rgba(160, 160, 160, 0.3);
  background: #e3edf7;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.recipe-card-content {
  font-family: "Roboto", sans-serif;
  padding: 20px 5px;
}

.recipe-card-content > h4 {
  padding-left: 15px;
}

.recipe-card-content button {
  outline: none;
}

.recipe-card-content > div {
  display: flex;
  margin-right: 10px;
  float: right;
}

.recipe-card-content ul {
  list-style-type: none;
}

.recipe-card-content li:nth-child(even) {
  color: rgb(247, 131, 16);
}

.button-edit button:hover {
  cursor: pointer;
  background-color: #f58f29;
  color: white;
}

.button-delete button:hover {
  cursor: pointer;
  background-color: #e4572e;
  color: white;
}

.recipe-card-image {
  overflow: hidden;
  height: 25%;
}

.recipe-card img {
  width: 100%;
  min-height: 275px;
}

.recipe-title {
  text-align: center;
  margin: 0;
  font-family: "Merienda", cursive;
}

@media (min-width: 1000px) {
  .recipe-card-image {
    overflow: hidden;
    height: 40%;
  }
}

@media (min-width: 660px) and (max-width: 950px) {
  .recipe-card {
    width: 40%;
    margin: 20px auto;
  }
  .recipe-card-content {
    margin-bottom: -70px;
  }
}

@media (max-width: 659px) {
  .recipe-card {
    width: 80%;
    margin: 20px auto;
  }
}
